<template>
  <div class="home">
    <h1>Vuejs - Módulo 6</h1>
    <p>
      Administración de Estacionamiento
    </p>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'HomeView',
  components: {
    
  }
}
</script>
