<template>
  <main>
    <div class="navbar-fixed">  
      <nav class="orange">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Estacionamiento</a> 
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>               
        </div>
      </nav>
    </div>
    
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="images/user-img-background.jpg">
          </div>
          <a href="#user"><img class="circle" src="images/user.png"></a>
          <a href="#name"><span class="white-text name">Franz Javier Muraña Cruz</span></a>
          <!-- <a href="#email"><span class="white-text email">xavie2@gmail.com</span></a> -->
        </div>
      </li>
      <li>      
        <router-link to="/"><i class="material-icons">home</i> Inicio</router-link>
      </li>

      <li>      
        <router-link to="/areas"><i class="material-icons">dns</i> Areas</router-link>
      </li>
      <li>      
        <router-link to="/tipos"><i class="material-icons">folder_special</i> Tipos</router-link>
      </li>
      <li>      
        <router-link to="/empleados"><i class="material-icons">group</i> Empleados</router-link>
      </li>
      
    </ul>
    
    <ul class="sidenav" id="mobile-demo">
      <li>      
        <router-link to="/"><i class="material-icons">home</i> Inicio</router-link>
      </li>
      <li>      
        <router-link to="/areas"><i class="material-icons">dns</i> Areas</router-link>
      </li>
      <li>      
        <router-link to="/tipos"><i class="material-icons">folder_special</i> Tipos</router-link>
      </li>
      <li>      
        <router-link to="/empleados"><i class="material-icons">group</i> Empleados</router-link>
      </li> 
    </ul>

        
  
    <div class="container-fluid">
      <router-view/>
    </div>    
  </main>
  
</template>
<script>
  export default {
    name: 'AppView',
    data(){
      return {
        
      }
    },
    methods:{
      
    },
    created() {
      document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});

      });
    }
  }
</script>
<style>
  nav{
    padding-left: 10px;
    padding-right: 10px;
  }

  header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

  .container-fluid{
    padding: 0px 10px;
  }
</style>
